<!-- <footer class="footer"> -->
<footer class="navbar navbar-default" role="navigation">
    <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="navbar-inner">
            <div class="nav navbar-nav navbar-right">
                © 2016 Soluciones de Renta Inmobiliaria |
                <%= link_to "Contacto", 'mailto:soporte@srichile.cl' %>
            </div>
        </div>
    </nav>
</footer>
